flows/My_Flow2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_ConAccLink</name>
        <label>해당 Contact 에 연결된 Account 비우기</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_CurrentCon.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Con</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chk_LinkAccEmpty</name>
        <label>연결된 어카운트 값 존재 여부</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Screen_NotNeedDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>연결된 어카운트 없음</defaultConnectorLabel>
        <rules>
            <name>Case_LinkAccNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CurrentCon.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_ConAccLink</targetReference>
            </connector>
            <label>연결 어카운트 있음</label>
        </rules>
    </decisions>
    <description>Contact 에 연결된 AccountId 제거</description>
    <interviewLabel>My Flow2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My Flow2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CurrentCon</name>
        <label>대상 Contact 가져옴</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LinkAcc</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Err</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LinkAcc</name>
        <label>Contact 와 연결된 Account 가져옴</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Main</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Err</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CurrentCon.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Con</name>
        <label>Contact 변경사항 업데이트</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Screen_DeleteDone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Err</targetReference>
        </faultConnector>
        <inputReference>Get_CurrentCon</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_DeleteDone</name>
        <label>삭제안내</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_DeleteDoneMessage</name>
            <fieldText>&lt;p&gt;성공적으로 지웠습니다.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Err</name>
        <label>Screen_Err</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_ErrMessage</name>
            <fieldText>&lt;p&gt;에러 발생&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Contact의 이름과 폰번호를 스크린에 띄우고 연결된 어카운트를 정말 지우겠냐고 묻는다.</description>
        <name>Screen_Main</name>
        <label>이 Contact 와 연결된 Account 를 삭제하나요?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Chk_LinkAccEmpty</targetReference>
        </connector>
        <fields>
            <name>Text_MainInfo</name>
            <fieldText>&lt;p&gt;이름 :{!Get_CurrentCon.Name}&lt;/p&gt;&lt;p&gt;폰번호 :{!Get_CurrentCon.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_AccInfo_NotEmpty</name>
            <fieldText>&lt;p&gt;{!Get_LinkAcc.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_LinkAcc.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Text_DeleteChkMessage</name>
            <fieldText>&lt;p&gt;정말 지우시겠습니까?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_NotNeedDelete</name>
        <label>연결된 어카운트 없음</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_NotNeedDeleteMessage</name>
            <fieldText>&lt;p&gt;연결된 어카운트가 없습니다.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CurrentCon</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Target Contact ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
