flows/ScreenFlowTest.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>ScreenFlowTest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlowTest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Contact</name>
        <label>Delete Contact</label>
        <locationX>773</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>deleted_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UniqueName</targetReference>
        </faultConnector>
        <inputReference>contactToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetContactRecord</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0015j00000YLn6BAAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customer_fullname</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactToDelete</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>deleted_Screen</name>
        <label>지워짐</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Deleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;삭제되었습니다.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;www.naver.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; font-family: courier;&quot;&gt;&lt;b&gt;www.naver.com&lt;/b&gt;&lt;/a&gt;﻿&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ergerg23e23</name>
        <label>고객정보 스크린</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetRecord</targetReference>
        </connector>
        <fields>
            <name>g234</name>
            <fieldText>&lt;p&gt;지우시겠습니까&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>customer_fullname</name>
            <dataType>String</dataType>
            <fieldText>고객 이름</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;고객 이름&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number</name>
            <dataType>Number</dataType>
            <fieldText>고객 고유번호</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>He</description>
        <name>gggg</name>
        <label>gg</label>
        <locationX>774</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ergerg23e23</targetReference>
        </connector>
        <fields>
            <name>wgf</name>
            <fieldText>&lt;p&gt;스크린 플로우 테스트입니다.&lt;/p&gt;&lt;p&gt;Finish를 눌러주세요.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UniqueName</name>
        <label>ㅎㅎ</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DPTest</name>
            <fieldText>&lt;p&gt;연락처가 존재하지 않습니다.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>gggg</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
